.book-player {
  background-color: none !important;
}
.bottom-navigation {
  background-color: white;
}
.bottom-navigation div a {
  height: 56px !important;
}
.bottom-chat {
  height: calc(100vh - 10px) !important;
}

.MuiBottomNavigationAction-label {
  opacity: 1 !important;
}

.MuiInputBase-root.message-input {
  width: 100%;
}
.return-main {
  height: calc(100vh - 72px);
}
.message-list {
  margin-bottom: 10px;
}
